<!DOCTYPE html>
<!--[if IE 8]>
<html lang="zh-CN" class="ie8">
<![endif]-->
<!--[if !IE]><!-->
<html lang="zh-cmn-Hans-CN">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="aozaki" name="author"/>
    <title>ns-gogo!-首页</title>
</head>
<body>
error
</body>
</html>